<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Smart Inventário - Index</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  {{ style('style') }}
</head>

<body>
  @!component('components/navbar', { name: name })
  <section class="hero is-fullheight is-medium background-home is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class='column is-4'>
            <article class="card is-rounded">
              <div class="card-content">
                <div class="has-text-centered"><span class="title">Bem-vindo(a)!</span></div>
                <div class="field mt-6">
                  <p class="control">
                    <button class="button is-primary is-medium is-fullwidth">
                      <span class="icon">
                        <i class="fa fa-building"></i>
                      </span>
                      <span> Inventário </span>
                    </button>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button id="btn" class="button is-primary is-medium is-fullwidth">
                      <span class="icon">
                        <i class="fa fa-pen"></i>
                      </span>
                      <span> Cadastros </span>
                    </button>
                  </p>
                </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" id="myModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Cadastro</p>
          <button class="delete" aria-label="close" data-bulma-modal="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <p class="control">
              <button id="btn" class="button is-primary is-medium is-fullwidth">
                <span class="icon">
                  <i class="fa fa-pen"></i>
                </span>
                <span> Categorias </span>
              </button>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button id="btn" class="button is-primary is-medium is-fullwidth">
                <span class="icon">
                  <i class="fa fa-pen"></i>
                </span>
                <span> Setor/Área </span>
              </button>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button id="btn" class="button is-primary is-medium is-fullwidth">
                <span class="icon">
                  <i class="fa fa-pen"></i>
                </span>
                <span> Estado de Conservação </span>
              </button>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button id="btn" class="button is-primary is-medium is-fullwidth">
                <span class="icon">
                  <i class="fa fa-pen"></i>
                </span>
                <span> Usuário </span>
              </button>
            </p>
          </div>
        </section>
      </div>
    </div>
  </section>
  <script>
    class BulmaModal {
      constructor(selector) {
        this.elem = document.querySelector(selector)
        this.close_data()
      }

      show() {
        this.elem.classList.toggle('is-active')
        this.on_show()
      }

      close() {
        this.elem.classList.toggle('is-active')
        this.on_close()
      }

      close_data() {
        var modalClose = this.elem.querySelectorAll("[data-bulma-modal='close'], .modal-background")
        var that = this
        modalClose.forEach(function (e) {
          e.addEventListener("click", function () {

            that.elem.classList.toggle('is-active')

            var event = new Event('modal:close')

            that.elem.dispatchEvent(event);
          })
        })
      }

      on_show() {
        var event = new Event('modal:show')

        this.elem.dispatchEvent(event);
      }

      addEventListener(event, callback) {
        this.elem.addEventListener(event, callback)
      }
    }

    var btn = document.querySelector("#btn")
    var mdl = new BulmaModal("#myModal")

    btn.addEventListener("click", function () {
      mdl.show()
    })

    mdl.addEventListener('modal:show', function () {
      console.log("opened")
    })

  </script>
</body>

</html>
