/* Tela de Login */
.logotipo {
  background: url("/logo.jpeg") no-repeat;
  width: auto;
  height: 65px;
  background-size: contain;
  background-position: center;
}

.background-login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/background.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Home */
.navbar-brand .navbar-item {
  background: url("/logo.jpeg") no-repeat center center;
  background-size: cover;
  width: 225px !important;
  height: 60px !important;
}

.background-home {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/bg-pencil.jpeg);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
