.logotipo {
  background: url("/logo.jpeg") no-repeat;
  width: auto;
  height: 65px;
  background-size: 100%;
}

.background-login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/background.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 600px) {
  .logo {
    width: auto;
    height: 65px;
  }
}
